<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Register your movie</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register your movie</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-forms *ngIf="!isLoading" (movieCreated)="onCreateMovie($event)" (imageUploaded)="onUploadFile($event)"></app-forms>
  <app-loading-form *ngIf="isLoading"></app-loading-form>
</ion-content>
