<ion-list>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated ></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated ></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated ></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated ></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated ></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated ></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated ></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated ></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated ></ion-skeleton-text>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-skeleton-text animated ></ion-skeleton-text>
    </ion-label>
  </ion-item>
</ion-list>

 