<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-icon slot="end" (click)="logout()" name="exit-outline" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Films</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container start">
    <ion-list *ngFor="let movie of movies">
      <ion-item lines="none">
        <ion-card class="card" (click)="goToEdit(movie)" style="width: 100%">
          <div class="info">
            <ion-card-header>
              <ion-card-title>{{movie.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="genres">
              <ion-text class="text" *ngFor="let genres of movie.genres">
                {{genres}}
              </ion-text>
            </ion-card-content>
            <ion-card-content>{{movie.writer}}</ion-card-content>
          </div>
          <div class="image" *ngIf="movie.downloadURL != null ">
            <img alt="Poster of {{movie.title}}" src="{{movie.downloadURL}}" />
          </div>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="goToRegister()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
