<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-icon slot="end" (click)="logout()" name="exit-outline" style="margin-right: 5%;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Films</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container start">
    <ion-list>
      <app-movie-card *ngFor="let movie of movies" [josney]="movie"></app-movie-card> 
    </ion-list>
  </div> 

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="goToRegister()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
