<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar animated #searchInput (ionChange)="onSearchChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Films</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!isLoading && movies.length > 0" id="container start">
    <ion-list>
      <app-movie-card *ngFor="let movie of movies" [josney]="movie"></app-movie-card> 
    </ion-list>
  </div>
  <app-loading-home *ngIf="isLoading" id="container start"></app-loading-home>
  <app-empty-screen *ngIf="!isLoading && movies.length === 0" [model]="emptyScreenModel"></app-empty-screen>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="goToRegister()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
