img {
    border-radius: 10px;
  }
  
  .text {
    font-size: 12px;
    font-weight: bold;
    border-style: solid;
    border-color: var(--ion-color-primary);
    border-radius: 10px;
    border-width: thin;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
    margin: 0 2px 2px 2px;
    padding: 2px;
  }
  
  .genres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .card {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 5%;
    .info {
      min-width: 60%;
      max-width: 100%;
    }
    .image {
      width: 40%; 
    }
  }
  
  ion-fab-button::part(native) {
    background-color: #b7f399;
    border-radius: 15px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    color: black;
  }