<form [formGroup]="formMovie" (ngSubmit)="submitForm()">
  <ion-list>
    <ion-item>
      <ion-input
        label="Movie title"
        labelPlacement="stacked"
        placeholder="Type the title of the movie"
        formControlName="title"
      ></ion-input>
    </ion-item>
    <span
      *ngIf="formMovie.get('title')?.touched && formMovie.get('title')?.errors?.['required']"
      >Title is required</span
    >
    <ion-item>
      <ion-input
        label="Director name"
        labelPlacement="stacked"
        placeholder="Type the name of the director"
        formControlName="director"
      ></ion-input>
    </ion-item>
    <span
      *ngIf="formMovie.get('director')?.touched && formMovie.get('director')?.errors?.['required']"
      >Director's name is required</span
    >
    <ion-item>
      <ion-input
        label="Writer name"
        labelPlacement="stacked"
        placeholder="Type the name of the writer"
        formControlName="writer"
      ></ion-input>
    </ion-item>
    <span
      *ngIf="formMovie.get('writer')?.touched && formMovie.get('writer')?.errors?.['required']"
      >Writer's name is required</span
    >
    <ion-item>
      <ion-input
        label="Release date"
        type="date"
        labelPlacement="stacked"
        placeholder="Type the release date"
        formControlName="releaseDate"
      ></ion-input>
    </ion-item>
    <span
      *ngIf="formMovie.get('releaseDate')?.touched && formMovie.get('releaseDate')?.errors?.['required']"
      >Release date is required</span>
    <span
      *ngIf="formMovie.get('releaseDate')?.hasError('pattern')"
      >Invalid date</span>
    <ion-item>
      <ion-select
        label="Genres"
        labelPlacement="stacked"
        [multiple]="true"
        formControlName="genres"
      >
        <ion-select-option value="Action">Action</ion-select-option>
        <ion-select-option value="Adventure">Adventure</ion-select-option>
        <ion-select-option value="Comedy">Comedy</ion-select-option>
        <ion-select-option value="Crime">Crime</ion-select-option>
        <ion-select-option value="Drama">Drama</ion-select-option>
        <ion-select-option value="Horror">Horror</ion-select-option>
        <ion-select-option value="Romance">Romance</ion-select-option>
        <ion-select-option value="Science Fiction"
          >Science Fiction</ion-select-option
        >
        <ion-select-option value="Thriller">Thriller</ion-select-option>
      </ion-select>
    </ion-item>
    <span
      *ngIf="formMovie.get('genres')?.touched && formMovie.get('genres')?.errors?.['required']"
      >Genre is required</span
    >
    <ion-item>
      <ion-button size="default" color="sucess" shape="round">
        <label for="fileInput">Choose a file:</label>
        <input type="file" id="fileInput" (change)="uploadFile($event.target)" />
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-buttons>
    <ion-button *ngIf="!this.movie" type="submit" expand="block" (click)="create()">Register</ion-button>
    <ion-button *ngIf="this.movie" type="submit" expand="block" (click)="edit()">Save</ion-button>
    <ion-button *ngIf="this.movie" type="submit" expand="block" (click)="delete()">Delete</ion-button>
  </ion-buttons>
</form>