<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Meus Filmes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <ion-list *ngFor="let movie of movies">
      <ion-card (click)="goToRegister(movie)">
        <ion-card-header>
          <ion-card-title>{{movie.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>Escritor</ion-card-content>
      </ion-card>
   </ion-list>
  </div>
</ion-content>
